/* RESPONSIVE FONT SCALE */

p, label, a {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * var(--ratio));
}

h4 {
  font-size: var(--h4);
  line-height: calc(var(--font-size) * var(--ratio));
}

h3 {
  font-size: var(--h3);
  line-height: calc(var(--h3) * var(--ratio));
}

h2 {
  font-size: var(--h2);
  line-height: calc(var(--h2) * var(--ratio));
}

h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) * var(--ratio));
}

/* FONT SELECTION */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}

p, a, li, ul, label, input, textarea {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: calc(18px * 1.618);
}
